* {
    margin: 0;
    padding: 0;
    
}

.conteiner {
    background-color: rgb(63, 103, 97);
    height: 968px;
}

.conteiner-title {
    padding-top: 15px;
    text-align: center;
}

.conteiner-info{
    text-align: center;
    margin-top: 5px;
}